<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class='fake--navigation'>
      <li class='left user-icon'>
        <img src='/images/ptolemy.png' />
      </li>
      <li class='left user-name'>
        ptolemybarnes
      </li>
      <li class='right my-pledges-link'>
        <a href='/'>all pledges</a>
      </li>
    </nav>

    <section class='splash--container'>
      <h1 class='title'>My pledges</h1>
    </section>

    <section class="pledge-feed">
      {{#each pledges}}
      <div class='pledge--container'>

        <span class='pledge--duedate status--{{isUrgent due_data}}'>
          <div class='due-in'>DUE IN</div>
          <div class='number'>
            {{daysRemaining due_data}}
          </div>
        </span>

        <span class='pledge--content status--{{isUrgent due_data}}'>
          <p>Reach
            <span class='amt'>{{score}}</span>
             in <span class='language'>{{language}}</span>, or forfeit
             <span class='amt'>£{{amount}}</span> to 
            <span class='benefactor'>the Ted Cruz for America Super PAC</span>
          </p>
        </span>

        <span class='spacer'></span>
      </div>
      {{/each}}
    </section>


  </body>
</html>
